    @media (orientation: landscape) {

        button {
            height: 41vh;
            width: calc(21%);
            float: left;
            margin: 1.8vw;
            border-radius: 100%;
            border: 0vw;
        }  }
    @media (orientation: portrait) {

        button {
            height: 21.5cqh;
            width: 45vw;
            float: left;
            margin: 1.8vw;
            border-radius: 100%;
            border: 0vw;
        }  }


.red {
    background-color: red;
}
.orange {
    background-color: orange;
}
.yellow {
    background-color: yellow;
}
.green {
    background-color: green
}
.blue {
    background-color: blue
}
.purple {
    background-color: purple
}
.pink {
    background-color: pink
}
.brown {
    background-color: rgb(94, 54, 26)
}
